<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscador de Descuentos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
</head>
<body>
    {% include "includes/nav.html" %}
    <div class="container">
        <div class="text-center">
            <h1>Elige una tienda</h1>
            <a class="btn btn-outline-primary" href="{{ url_for('falabella_bp.productosFalabella') }}">Falabella</a>
            <a class="btn btn-outline-primary" href="{{ url_for('paris_bp.productosParis') }}">Paris</a>
            <a class="btn btn-outline-primary" href="{{ url_for('ripley_bp.productosRipley') }}">Ripley</a>
            <a class="btn btn-outline-primary" href="{{ url_for('abcdin_bp.productosAbcdin') }}">Abcdin</a>
            <a class="btn btn-outline-primary" href="{{ url_for('lapolar_bp.productosLapolar') }}">Lapolar</a>
            <a class="btn btn-outline-primary" href="{{ url_for('lider_bp.productosLider') }}">Lider</a>
            <a class="btn btn-outline-primary" href="{{ url_for('hites_bp.productosHites') }}">Hites</a>
        </div>
    </div>
    <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
</body>
</html>